{
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"importOrder": [
		"^[./]",
		"^@assets/(.*)$",
		"^@attachments/(.*)$",
		"^@classes/(.*)$",
		"^@components/(.*)$",
		"^@contexts/(.*)$",
		"^@functions/(.*)$",
		"^@types/(.*)$",
		"<THIRD_PARTY_MODULES>"
	],
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"singleAttributePerLine": true,
	"useTabs": true
}
